In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
dataset = pd.read_csv('Social_Network_Ads.csv').drop('User ID', axis=1)
dataset

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
5      Male   27            58000          0
6    Female   27            84000          0
7    Female   32           150000          1
8      Male   25            33000          0
9    Female   35            65000          0
10   Female   26            80000          0
11   Female   26            52000          0
12     Male   20            86000          0
13     Male   32            18000          0
14     Male   18            82000          0
15     Male   29            80000          0
16     Male   47            25000          1
17     Male   45            26000          1
18     Male   46            28000          1
19   Female   48            29000          1
20     Male   45            22000          1
21   Female   47            49000          1
22     Male   48            41000          1
23   Female   45            22000          1
24     Male   46            23000          1
25     Male   47            20000          1
26     Male   49            28000          1
27   Female   47            30000          1
28     Male   29            43000          0
29     Male   31            18000          0
..      ...  ...              ...        ...
370  Female   60            46000          1
371    Male   60            83000          1
372  Female   39            73000          0
373    Male   59           130000          1
374  Female   37            80000          0
375  Female   46            32000          1
376  Female   46            74000          0
377  Female   42            53000          0
378    Male   41            87000          1
379  Female   58            23000          1
380    Male   42            64000          0
381    Male   48            33000          1
382  Female   44           139000          1
383    Male   49            28000          1
384  Female   57            33000          1
385    Male   56            60000          1
386  Female   49            39000          1
387    Male   39            71000          0
388    Male   47            34000          1
389  Female   48            35000          1
390    Male   48            33000          1
391    Male   47            23000          1
392  Female   45            45000          1
393    Male   60            42000          1
394  Female   39            59000          0
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [9]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
encoder = LabelEncoder()
X[:,0] = encoder.fit_transform(X[:,0])

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

In [26]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

D:\Programes\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [28]:
y_pred = classifier.predict(X_test)

In [29]:
from sklearn.metrics import confusion_matrix, classification_report

print(confusion_matrix(y_test, y_pred), '\n')
print(classification_report(y_test, y_pred))

[[57  4]
 [ 9 30]]

             precision    recall  f1-score   support

          0       0.86      0.93      0.90        61
          1       0.88      0.77      0.82        39

avg / total       0.87      0.87      0.87       100